@font-face {
    font-family: "Helvetica Neue";
    src: url("./HelveticaNeue.ttf");
}
@font-face {
    font-family: "Bahij_TheSansArabic-SemiBold";
    src: url("./Bahij_TheSansArabic-SemiBold.ttf");
}

@font-face {
    font-family: "Bahij_TheSansArabic-ExtraBold";
    src: url("./Bahij_TheSansArabic-ExtraBold.ttf");
}

@font-face {
    font-family: "Helvetica Neue UltraLight";
    src: url("./HelveticaNeueUltraLight.ttf");
}

@font-face {
    font-family: "AdobeArabic Regular";
    src: url("./AdobeArabic-Regular.otf");
}

@font-face {
    /*font-family: "Athelas";*/
    /*src: url("./Athelas.ttc");*/
}
