* {
  margin: 0;
  padding: 0;
}



.main{
  background: url("../images/map.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.direction_icon img {
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.slider-box {
  width: 1200px;
  height: 1700px;
  background: #fff;
  position: absolute;
  bottom: 120px;
  left: 150px;
}
.close_btn img {
  width: 110px;
  position: absolute;
  right: 50px;
  top: 40px;
}
.popup_slider {
  margin: 200px 120px 0 120px;
}
.popup_slider img {
  width: 100%;
}
.popup_slider .slick-prev {
  position: absolute;
  top: 50%;
  z-index: 9;
  left: -100px;
  transform: translate(0, -50%);
  background: url('../images/left-arrow.svg') !important;
  width: 50px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
}
.popup_slider .slick-arrow{
  background-color: transparents;
}
.popup_slider .slick-next {
  position: absolute;
  top: 50%;
  z-index: 9;
  right: -100px;
  transform: translate(0, -50%);
  background: url('../images/right-arrow.svg') !important;
  width: 50px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
}
.popup_slider .slick-arrow {
  background: transparent;
  border: 0;
  text-indent: -99999px;
}

.slider_content_box {
  margin: 50px 120px 0 120px;
}
.slider_content_box .content_heading{
  display: flex;
  align-items: center;
}

.slider_content_box h2 {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 90px;
  text-transform: uppercase;
  color: #eb6f6a;
}
.slider_content_box h3 {
  font-size: 100px;
  background: #eb6f6a;
  max-width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 100px;
  margin-right: 40px;
  color: #fff;
  display: block;
  width: 100%;
}
.overflow-text {
  height: 520px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 60px;
}
.overflow-text p {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 30px;
}
.logo img {
  width: 900px;
  position: absolute;
  right: 250px;
  background-color: #692e149c;
  padding: 130px 200px;
}
.hotspot {
  display: flex;
  align-items: center;
}
.hp_headings h2 {
  font-family: 'Bahij_TheSansArabic-ExtraBold';
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  margin: 0;
}
.hp_headings h2:nth-child(2) {
  font-family: 'Helvetica Neue';
}

.hp_numbers h2 {
  color: #fff;
  font-size: 60px;
  width: 120px;
  height: 120px;
  border: 5px solid #eb6f6a;
  text-align: center;
  line-height: 110px;
  border-radius: 90px;
  margin: 0 100px 0 100px;
}
.hp_numbers h2.active{
  background-color: #eb6f6a;
}
.hotspot_1 {
  position: absolute;
  left: 1020px;
  top: 90px;
}

.hotspot_2 {
  position: absolute;
  right: 1000px;
  bottom: 750px;
}
.hotspot_2 .circle_B {
  left: 76%;
}
.hotspot_2 .hp_headings {
  text-align: right;
}

.hotspot_3 {
  position: absolute;
  right: 760px;
  bottom: 500px;
}
.hotspot_3 .circle_B {
  left: 79%;
}
.hotspot_3 .hp_headings {
  text-align: right;
}

.hotspot_4 {
  position: absolute;
  right: 120px;
  bottom: 720px;
}

.circle_B {
  position: absolute;
  left: 160px;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eb6f6a;
  opacity: .7;
  z-index: 0;
  -webkit-animation-name: fadeOut_B;
          animation-name: fadeOut_B;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fadeOut_B {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    width: 250px;
    height: 250px;
  }
}




@-webkit-keyframes bottom {
  0% {
   transform: translateY(200px);
   opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}


.content_heading h3 {
  animation-name: bottom;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-fill-mode: both;
}

.content_heading h2 {
  animation-name: bottom;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-delay: 800ms;
  animation-fill-mode: both;
}

.overflow-text {
  animation-name: bottom;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.popup_slider {
  animation-name: bottom;
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


.langswitch {
  position: absolute;
  width: 90px;
  right: 20px;
  bottom: 40px;
}



.overflow-text .ar, .overflow-text .en, .content_heading.en, .content_heading.ar {
  display: none;
}


.overflow-text .en.active, .overflow-text .ar.active {
  display: block;
}
.content_heading.en.active, .content_heading.ar.active {
  display: flex;
}

.overflow-text .ar, .content_heading.ar {
  direction: rtl;
}

.slider_content_box .content_heading.ar h3 {
  margin-right: 0px;
  margin-left: 40px;
}

.overflow-text .ar p, .content_heading.ar > * {
  font-family: 'Bahij_TheSansArabic-SemiBold';
}